# Easier navigation: ~
alias ~="cd ~" # `cd` is probably faster to type though

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias dig="dig +nocmd any +multiline +noall +answer"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

alias diskspace_report="df -P -kHl"

# File size
alias fs="stat -f \"%z bytes\""

# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"
alias update_brew_npm_gem='brew_update; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document'


# AvenueCode / Macys
alias fsd="foreman start dev"
alias fst="foreman start test && killPhantom"

alias killGrunt='pgrep Grunt | xargs kill -QUIT'
alias killPhantom='pgrep phantomjs-darwin | xargs kill -QUIT'

alias pull='git pull --rebase origin "$(git rev-parse --abbrev-ref HEAD)"'
alias push='git push origin "$(git rev-parse --abbrev-ref HEAD)"'
alias pushr='git push origin "$(git rev-parse --abbrev-ref HEAD)":refs/for/"$(git rev-parse --abbrev-ref HEAD)"'


#alias github='open "https://jaxf-github.fanatics.corp/${$(echo "${${$(git remote get-url origin)#*:}%.git}")}/tree/${$(git rev-parse --abbrev-ref HEAD)}"'
#alias gitdiff='open "https://jaxf-github.fanatics.corp/${$(echo "${${$(git remote get-url origin)#*:}%.git}")}/compare/${$(git rev-parse --abbrev-ref HEAD)}"'
#alias circleci='open "https://circleci.fanaticslabs.com/gh/${$(echo "${${$(git remote get-url origin)#*:}%.git}")}/tree/${$(git rev-parse --abbrev-ref HEAD)}"'


alias github='open "https://jaxf-github.fanatics.corp/${$(echo "${${${$(git remote get-url origin)#*:}%.git}#*.corp/}")}/tree/${$(git rev-parse --abbrev-ref HEAD)}"'
alias gitdiff='open "https://jaxf-github.fanatics.corp/${$(echo "${${${$(git remote get-url origin)#*:}%.git}#*.corp/}")}/compare/${$(git rev-parse --abbrev-ref HEAD)}"'
alias circleci='open "https://circleci.fanaticslabs.com/gh/${$(echo "${${${$(git remote get-url origin)#*:}%.git}#*.corp/}")}/tree/${$(git rev-parse --abbrev-ref HEAD)}"'
